{% extends 'master.html' %}
{% load static %}
{% block content %}
    <div>
        <h1 class="text-center text-info">ADD PRODUCTS</h1>
        <form style="width:40%; margin: auto;" method="post" action="{% url 'add-products-page' %}" class="forms">
            <P>{{ success }}</P>
            {% csrf_token %}
            <input required class="form-control" placeholder="Enter name" name="p-name" type="text"><br>
            <input required class="form-control" placeholder="Enter qtty" name="p-qtty" type="text"><br>
            <input required class="form-control" placeholder="Enter size" name="p-size" type="text"><br>
            <input required class="form-control" placeholder="Enter price" name="p-price" type="text"><br>
            <input class="btn btn-info" value="save" type="submit">
            <p>{{ prod_name }}</p>
            <p>{{ prod_qtty }}</p>
            <p>{{ prod_size }}</p>
            <p>{{ prod_price }}</p>
        </form>
    </div>
{% endblock %}