{% extends 'master.html' %}
{% load static %}
{% block content %}
    <div>
        <h1 class="text-center text-info">UPDATE PRODUCTS</h1>
        <form style="width:40%; margin: auto;"  method="post" action="/update-product/{{ product.id }}" class="update-form">
            <P>{{ success }}</P>
            {% csrf_token %}
            <input value="{{ product.name }}" required class="form-control" placeholder="update name" name="p-name" type="text"><br>
            <input value="{{ product.qtty }}" required class="form-control" placeholder="update qtty" name="p-qtty" type="text"><br>
            <input value="{{ product.size }}" required class="form-control" placeholder="update size" name="p-size" type="text"><br>
            <input value="{{ product.price }}" required class="form-control" placeholder="update price" name="p-price" type="text"><br>
            <input class="btn btn-info" value="update" type="submit">
            <p>{{ prod_name }}</p>
            <p>{{ prod_qtty }}</p>
            <p>{{ prod_size }}</p>
            <p>{{ prod_price }}</p>
        </form>
    </div>
{% endblock %}